*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
    

.first{
    position: fixed;
    display: flex;
    background-color: #000;
    /* margin-top: -30px; */
    height: 80px;
    width: 100%;
    align-items: center;

}
.first .Logo{
    align-items: center;
    width:20%;
    background-color: #000;
    height: 50px;
    margin-left: 20px;
    margin-top: 27px;
}

.logo img{
    align-items: center;
    height: 100%;
}

.Head{
    background-color: #000;
    align-items: center;
    
    display: flex;
    justify-content: space-around;
    color: rgb(196, 168, 168);
    margin-left: 15%;
}
.Head a{
    padding-left: 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.Her{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.mid{
    display: flex;
}
.left{
    width: 50%;
    height: 600px;
    background-color: black;
    margin-top:-4px ;
}
.left h1{
    text-align: center;
    color: white;
    font-size: 70px;
    margin-left: -40px;
    margin-top: -160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.left img{
    margin-top: 210px;
    margin-left: 64px;
    height: 150px;
    width: 560px;

}
.right{
    margin-left: 150px;
    margin-top: 160px;
}
.right p{
    font-family: "merivaregular";
    font-size: 27px;
    text-align: left;

}
.img-5{
    width: 100%;
    margin-top: 80px;
    
}
.END{
    display: flex;
    justify-content: space-around; 
    padding: 50px; 
}
.end-1 p{
    font-family: sans-serif;

}
.finall-end{

}






